{% extends "base_page.html" %}

{% load wagtailcore_tags %}

{% block content %}

    <div data-pattern="templates/resources/two-col" class="mt-6 md:mt-14 lg:mt-20">
    
        <div class="container">

            {% include_block page.heading %}
            
        </div>

        <div class="container mt-8 lg:mt-16 mb-20 lg:mb-32 md:flex justify-between">

            <div class="mb-4 md:mb-0">
            {% include "patterns/atoms/links/blue-link.html" with text=prev_article_title url=prev_article_url %}
            </div>

            <div>
            {% include "patterns/atoms/links/blue-link.html" with text=next_article_title url=next_article_url %}
            </div>
        
        </div>

        <div class="one-col-layout">
        
            {% include_block page.body %}
        
        </div>

    </div>

{% endblock %}