{% load wagtailimages_tags svg custom_filters %}

<a 
    href="{{ url }}"
    {% if activate_inifinite_scroll and show_htmx and homes.next_page_number %} hx-get="{{ request.get_full_path }}&page={{ homes.next_page_number }}" hx-trigger="revealed" hx-swap="afterend" {% endif %}
    class="inline-block border border-gray-60 w-full {% if activate_inifinite_scroll %} xl:max-w-380px {% else %} md:max-w-455px {% endif %}">

    {% image main_image fill-380x283 as tmp_photo %}
    
        <img 
            src="{{ tmp_photo.url }}" 
            alt="{{ tmp_photo.alt }}" 
            class="w-full {% if activate_inifinite_scroll %} md:h-283px {% else %} md:h-339px {% endif %}" />
    
    <div class="pt-5 pb-3 px-5 md:pt-6 md:pb-8 md:px-6 2xl:pt-7 2xl:pb-10 2xl:px-8">
    
        <div class="flex">

            <div class="{% if verified %}w-10/12{% endif %}">
                <h2 class="font-bold md:text-2xl text-black-medium">{{ title }}</h2>
            </div>

            {% if verified %}

            <div class="flex justify-end w-2/12">
                <div class="svg-h-2.5">
                    {% svg 'verified' %}
                </div>
            </div>

            {% endif %}

        </div>
        
        <div class="flex justify-between py-3 md:py-5 mb-3 md:mb-5 text-xxs md:text-xs {% if wide_design %} 2xl:text-base {% endif %} text-black-medium border-b border-gray-60">
        
            {% include "patterns/atoms/icon-text/icon-text.html" with title=bedrooms_text quantity=bedrooms icon="Beds Icon" %}
            {% include "patterns/atoms/icon-text/icon-text.html" with title=baths_text quantity=baths_formatted icon="Baths Icon" %}
            {% include "patterns/atoms/icon-text/icon-text.html" with title="Sq. Ft" quantity=sqft icon="Sq Feet Icon" %}

        </div>

        <div class="flex">

            {% include "patterns/atoms/labels/label1.html" with title="Base Price" value=cost_formatted wide_design=wide_design class="mb-4 lg:mb-0 mr-16" %}
            
            {% include "patterns/atoms/labels/label1.html" with title="Est. total" value=estimated_cost_formatted icon="help" wide_design=wide_design %}
        
        </div>
    
    </div>

</a>