{% load wagtailimages_tags svg custom_filters %}

<a 
    href="{{ url }}"
    class="border border-gray-60 inline-block">

    {% image main_image width-1000 %}

    <div class="pt-5 pb-3 px-5 md:pt-6 md:pb-8 md:px-6 2xl:pt-7 2xl:pb-10 2xl:px-8">
    
        <div class="flex">

            <div class="{% if verified %}w-10/12{% endif %}">
                <h2 class="font-bold md:text-2xl text-black-medium">{{ title }}</h2>
            </div>

            {% if verified %}

            <div class="flex justify-end w-2/12">
                <div class="svg-h-3">
                    {% svg 'verified' %}
                </div>
            </div>

            {% endif %}

        </div>
        
        <div class="flex justify-between py-3 md:py-5 mb-3 md:mb-5 text-xs {% if wide_design %} 2xl:text-base {% endif %} text-black-medium border-b border-gray-60">
        
            <div class="flex items-center leading-none"><i class="mr-2 mb-1">{% svg 'Beds Icon' %}</i> {{ bedrooms }} <span class="md:hidden xl:block ml-1">Bedrooms</span></div>
            <div class="flex items-center leading-none"><i class="mr-2 mb-1">{% svg 'Baths Icon' %}</i> {{ baths | truncate_float }} <span class="md:hidden xl:block ml-1">Baths</span></div>
            <div class="flex items-center leading-none"><i class="mr-2 mb-1">{% svg 'Sq Feet Icon' %}</i> {{ sqft }} <span class="md:hidden xl:block ml-1">Sq. Ft</span></div>
        
        </div>

        <div class="flex md:block lg:flex">
        
            <div class="mb-4 lg:mb-0 mr-16">
                <div class="mb-2 md:mb-1 text-xs md:text-sm xl:text-base text-gray-70 leading-none">BASE PRICE</div>
                <div class="{% if wide_design %} font-bold {% else %} font-medium {% endif %} text-lg xl:text-2xl text-green-medium">{{ cost | currency }}</div>
            </div>

            <div class="">
                <div class="mb-1 flex items-center text-xs md:text-sm xl:text-base text-gray-70 svg-h-1 leading-none">EST. TOTAL <span class="ml-1">{% svg 'help' %}</span></div>
                <div class="{% if wide_design %} font-bold {% else %} font-medium {% endif %} text-lg xl:text-2xl text-green-medium">{{ estimated_cost | currency }}</div>
            </div>
        
        </div>
    
    </div>

</a>