{% load wagtailimages_tags svg custom_filters %}

<a 
    href="{{ url }}"
    class="border border-gray-60 inline-block">

    {% image main_image width-1000 %}

    <div class="pt-5 pb-3 px-5 md:pt-6 md:pb-8 md:px-6 2xl:pt-7 2xl:pb-10 2xl:px-8">
    
        <div class="flex">

            <div class="{% if verified %}w-10/12{% endif %}">
                <h2 class="font-bold md:text-2xl text-black-medium">{{ title }}</h2>
            </div>

            {% if verified %}

            <div class="flex justify-end w-2/12">
                <div class="svg-h-2.5">
                    {% svg 'verified' %}
                </div>
            </div>

            {% endif %}

        </div>
        
        <div class="flex justify-between py-3 md:py-5 mb-3 md:mb-5 text-xxs md:text-xs {% if wide_design %} 2xl:text-base {% endif %} text-black-medium border-b border-gray-60">
        
            {% include "patterns/atoms/icon-text/icon-text.html" with title=bedrooms_text quantity=bedrooms icon="Beds Icon" %}
            {% include "patterns/atoms/icon-text/icon-text.html" with title=baths_text quantity=baths_formatted icon="Baths Icon" %}
            {% include "patterns/atoms/icon-text/icon-text.html" with title="Sq. Ft" quantity=sqft icon="Sq Feet Icon" %}

        </div>

        <div class="flex">

            {% include "patterns/atoms/labels/label1.html" with title="Base Price" value=cost_formatted wide_design=wide_design class="mb-4 lg:mb-0 mr-16" %}
            
            {% include "patterns/atoms/labels/label1.html" with title="Est. total" value=estimated_cost_formatted icon="help" wide_design=wide_design %}
        
        </div>
    
    </div>

</a>