{% load svg %}

<div class="flex flex-col items-center justify-center px-8 xl:pb-4 md:px-6 2xl:px-12 text-center bg-blue {{ class }}">

    <div class="mb-6 svg-h-house">

        {% svg 'Blueprint Home Help Icon' %}

    </div>

    <p class="mb-6 text-white text-2xl font-bold">{{ mhoapp.homes_ad_text }}</p>

    {% include "patterns/atoms/button/button.html" with url=mhoapp.homes_ad_button_url text=mhoapp.homes_ad_button_text size="small" text_size="small" color="blue" inverted=True %}

</div>