{% load wagtailcore_tags menu_tags svg %}
{% wagtail_site as current_site %}

<footer class="pt-10 md:pt-20 lg:pt-40 pb-8 lg:pb-20 bg-blue text-white">

    <div class="flex justify-center text-center md:text-left container">

        <div class="2xl:w-94%">

            <div class="lg:flex">

                <div class="mb-12 md:mb-16 lg:mb-0 lg:w-31%">

                    <a class="flex justify-center md:block mb-8 md:mb-14 md:mr-12 lg:w-64.5%" href="/">
                        <img src="{{ mhoapp.logo_white.url }}" alt="Modular Homeowners Logo" class="h-20 md:h-16 md:h-auto">
                    </a>

                    <a
                        class="inline-flex items-center mb-8 font-bold leading-none text-blue-light text-lg md:text-2xl"
                        href="mailto:"
                        class="href">

                        {% svg 'email icon' %}

                        <p class="ml-3">{{ mhoapp.contact_email }}</p>

                    </a>

                    <div class="flex md:block justify-center">

                        <div class="w-10/12 xl:w-4/6">

                            {% slugurl 'homes' as search_homes_url %}

                            {% include "patterns/atoms/button/button.html" with url=search_homes_url text="Find your home" size="small" color="blue" inverted=True %}

                        </div>

                    </div>    

                </div>

                <div class="md:flex lg:w-8/12">

                    <div class="md:mb-16 md:mb-0 md:w-2/5 lg:pr-12 2xl:pr-20">

                        {% flat_menu 'resources' template="patterns/molecules/menus/vertical.html" %}

                    </div>

                    <div class="md:mb-16 md:mb-0 md:w-29% lg:pr-12 2xl:pr-20">

                        <div class="md:mb-16">
                            {% flat_menu 'about' template="patterns/molecules/menus/vertical.html" %}
                        </div>

                        <div class="md:mb-16">
                            {% flat_menu 'partners' template="patterns/molecules/menus/vertical.html" %}
                        </div>

                        <div class="md:mb-16">
                            {% flat_menu 'forum' template="patterns/molecules/menus/vertical.html" %}
                        </div>

                    </div>

                    <div class="md:mb-16 md:mb-0 md:w-29%">

                        {% flat_menu 'find_home' template="patterns/molecules/menus/vertical.html" %}

                    </div>

                </div>

            </div>

            <div class="flex flex-wrap justify-evenly md:justify-start mt-20">

                <p class="flex md:block items-center mb-4 md:mb-6 lg:mb-0 lg:mr-4 text-xs md:text-base font-bold opacity-60">
                
                    {{ current_site.site_name }}
                
                </p>

                <p class="lg:mr-4 text-xs md:text-base opacity-60">Copyright {% now 'Y' %}</p>

                <p class="lg:mr-1 text-xs md:text-base opacity-60">All Rights Reserved</p>

                <div class="mb-4 md:mb-0">
                    {% flat_menu 'footer_bottom' template="patterns/molecules/menus/horizontal.html" max_levels=1 show_menu_heading=False %}
                </div>

            </div>

        </div>

    </div>

</footer>