{% load wagtailcore_tags %}

<div 
    data-pattern="molecules/navbar"
    class="luxbar luxbar-default">

    <input type="checkbox" id="luxbar-checkbox" class="luxbar-checkbox">

    <div class="luxbar-menu luxbar-menu-right {% if header_theme == "blue" %} luxbar-menu-blue {% else %} luxbar-menu-light {% endif %}">

        <ul class="luxbar-navigation">

            <li class="luxbar-header">

                <a class="luxbar-logo luxbar-logo-color" href="/">
					<img src="{{ mhoapp.logo.url }}" alt="Modular Homeowners Logo" class="h-10 md:h-16 lg:h-auto">
				</a>

                <a class="luxbar-logo luxbar-logo-white" href="/">
					<img src="{{ mhoapp.logo_white.url }}" alt="Modular Homeowners Logo" class="h-10 md:h-16 lg:h-auto">
				</a>                

                <label class="luxbar-hamburger luxbar-hamburger-spin" for="luxbar-checkbox"><span></span></label>

            </li>

			{% include "patterns/molecules/menus/main-nav.html" %}

			<li class="md:hidden lg:flex items-center pl-8">

                {% slugurl 'homes' as search_homes_url %}

                {# Tablet and up mobile button #}
                
                <div class="hidden {% if header_theme != 'blue' %} md:block {% endif %} py-0 mt-8 md:mt-0">
                    {# Green button for the white theme #}
				    {% include "patterns/atoms/button/button.html" with url=search_homes_url text="Find Your Home" size="small" color="green" inverted=True class="" %}
                </div>
                
                <div class="hidden {% if header_theme == 'blue' %} md:block {% endif %} py-0 mt-8 md:mt-0">
                    {# Blue button for the blue theme #}
				    {% include "patterns/atoms/button/button.html" with url=search_homes_url text="Find Your Home" size="small" color="blue" inverted=True class="" %}
                </div>

                {# Mobile button #}
                <div class="md:hidden flex justify-center mt-4 w-full">

                    {% include "patterns/atoms/button/button.html" with url=search_homes_url text="Find Your Home" class="py-0 xl:ml-4 mt-8 md:mt-0" size="normal" color="blue" inverted=True %}

                </div>

			</li>

        </ul>

    </div>

</div>