{% load wagtailimages_tags svg %}

<div 
    data-pattern="molecules/icons-list"
    class="grid grid-cols-2 {% if small_size %} lg:grid-cols-6 {% else %} lg:grid-cols-4 {% endif %} gap-x-24 gap-y-16">

    {% for item in list %}

    <div class="flex flex-col items-center justify-center">

        <a href="{{ item.url }}">

            {% image item.image width-300 %}
            
        </a>

        <a 
            class="mt-8 flex items-center text-green-medium text-base lg:text-1.5xl font-medium"
            href="{{ item.url }}">

            Learn More

            <span class="ml-2 svg-h-.8">{% svg 'right arrow green' %}</span>

        </a>

    </div>

    {% endfor %}

</div>