{% load svg %}

{% if title %}
<h3 class="mb-2 md:mb-6 text-lg md:text-3xl text-white">{{ title }}</h3>
{% endif %}

<ul class="md:text-1.5xl text-blue-light2">

    {% for link in links %}

        {% if link %}

        <li class="mb-4 md:mb-2 md:pr-16 lg:pr-8">

            <a href="{{ link.url }}" class="flex items-center">
            
                {# Link with char icon for displaying the arrow in the last line when the text wraps into a 2nd line #}
                <span class="xl:hidden">{{ link.title }} &#8594;</span>

                <span class="hidden xl:flex items-center">
                
                    {{ link.title }} 
                    
                    <span class="ml-3">{% svg 'right arrow' %}</span>
                    
                </span>
                
            </a>

        </li>

        {% endif %}

    {% endfor %} 

</ul>