<div class="px-4 py-10 xl:px-8 xl:py-12 2xl:px-12 {% if no_border %} {% else %} border-b border-gray-60 {% endif %}">

    <h3 class="text-1.5xl text-black-medium font-bold mb-6">{{ title }}</h3>

    {% if filter == 'price_range' %}
        {% include "patterns/atoms/input-range/input-range.html" with min_range=50000 max_range=1500000 step=10000 min_input_name="min-price-range" max_input_name="max-price-range" format="money" %}
    {% endif %}        

    {% if filter == 'sqr_footage' %}
        {% include "patterns/atoms/input-range/input-range.html" with min_range=50 max_range=600 step=50 min_input_name="min-sqft" max_input_name="max-sqft" format="sqft" %}
    {% endif %}            

    {% if filter == 'locations' %}
        {% include "patterns/atoms/select/select.html" with id="shipping" options=locations default_text="Choose Location" size="normal" class="" %}
    {% endif %}

    {% if filter == 'home_styles' %}
        {% include "patterns/atoms/checkbox-list/checkbox-list.html" with checkbox_list=home_styles name="style" %}
    {% endif %}    

</div>