{% load wagtailcore_tags %}

<div 
    data-pattern="molecules/filters/filters"
    class="fixed xl:sticky top-0 left-0 h-screen xl:h-auto lg:w-auto xl:rounded-2xl xl:shadow-custom-1 bg-white overflow-y-scroll xl:overflow-auto z-50 {{ class }}" id="filters-menu">

    <div class="w-full">

        <div class="xl:hidden flex items-center justify-between py-6 px-8 lg:px-4 border-b border-gray-60">

            <h2 class="text-1.5xl text-blue-dark font-bold leading-none">Filters</h2>
        
            <div class="luxbar-hamburger luxbar-hamburger--opened luxbar-hamburger--bold luxbar-hamburger--black md:block" id="filters-close-button">
                <span></span>
            </div>
        
        </div>
        
        <form hx-get={{ submit_url }} hx-target=".htmx-search-results" hx-indicator=".htmx-indicator" hx-swap="innerHTML swap:2s">

            {% include "patterns/molecules/filters/filter-section.html" with title="Price Range" filter="price_range"%}
            {% include "patterns/molecules/filters/filter-section.html" with title="Shipping Available to" filter="locations" %}
            {% include "patterns/molecules/filters/filter-section.html" with title="Bedrooms" title2="Bathrooms" filter="bedrooms" %}
            {% include "patterns/molecules/filters/filter-section.html" with title="Square Footage" filter="sqr_footage" %}
            {% include "patterns/molecules/filters/filter-section.html" with title="Home Style" filter="home_styles" no_border=True %}

            <div class="flex justify-center px-8 lg:px-4 pb-10 md:pb-6 2xl:pb-10 xl:px-8">

                <div class="w-8/12 md:w-full 2xl:w-10/12">

                    {% include "patterns/atoms/button/button.html" with id="search" type="submit" text="Apply & Search" size="mobile-normal-desktop-small" color="blue" inverted=False only %}

                </div>

            </div>

        </form>

    </div>    

</div>