<div 
    data-pattern="molecules/filters/filter-section"
    class="relative  px-8 lg:px-4 xl:px-8 2xl:px-10  pb-8 lg:pt-8 mt-6 lg:mt-0 {% if no_border %} {% else %} border-b border-gray-60 {% endif %}">

    <div class="flex justify-between">

        <h3 class="text-lg lg:text-1.5xl text-black-medium font-medium lg:font-bold mb-4">{{ title }}</h3>

        {% if title2 %}
        <h3 class="text-lg lg:text-1.5xl text-black-medium font-medium lg:font-bold mb-4">{{ title2 }}</h3>
        {% endif %}

    </div>

    {% if filter == 'price_range' %}
        {% include "patterns/atoms/input-range/input-range.html" with min_range=settings.base.HomeSearchPageSettings.filter_price_min max_range=settings.base.HomeSearchPageSettings.filter_price_max step=settings.base.HomeSearchPageSettings.filter_price_step initial_min_range=initial_min_price_range initial_max_range=initial_max_price_range min_input_name="min-price-range" max_input_name="max-price-range" format="money" %}
    {% endif %}        

    {% if filter == 'sqr_footage' %}
        {% include "patterns/atoms/input-range/input-range.html" with min_range=settings.base.HomeSearchPageSettings.filter_sqft_min max_range=settings.base.HomeSearchPageSettings.filter_sqft_max step=settings.base.HomeSearchPageSettings.filter_sqft_step min_input_name="min-sqft" max_input_name="max-sqft" format="sqft" %}
    {% endif %}            

    {% if filter == 'locations' %}
        {% include "patterns/atoms/select/select.html" with id="shipping" options=locations initial_value=initial_location default_text="Choose Location" size="normal" class="" %}
    {% endif %}

    {% if filter == 'home_styles' %}
        {% include "patterns/atoms/checkbox-list/checkbox-list.html" with checkbox_list=home_styles name="style" %}
    {% endif %}    

    {% if filter == 'bedrooms' %}

        <div class="flex justify-between">

            {% include "patterns/atoms/number-control/number-control.html" with name="bedrooms" initial_value=bedrooms_initial_value %}
            {% include "patterns/atoms/number-control/number-control.html" with name="bathrooms" initial_value=bathrooms_initial_value %}

        </div>

    {% endif %}    

</div>