{% extends "patterns/organisms/hero/hero.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block bg_image %}

    {% image image scale-100 as bg_image %}

    <div
        class="absolute bottom-0 full-width h-full pt-4 lg:pt-8 lg:pb-20 bg-bottom md:bg-right-40% 2xl:bg-right-top bg-contain md:bg-50% bg-no-repeat -z-10"
        style="background-image:url({{ bg_image.url }})"></div>

{% endblock %}        

{% block left_content %}

    <h1 class="mb-9 text-3xl md:text-5.5xl text-blue-dark font-bold leading-tight">{{ heading }}</h1>

    <p class="mb-9 md:w-8/12 md:text-2xl text-blue-dark md:font-normal leading-normal">{{ introduction }}</p>

{% endblock %}