<div class="menu">

  <label for="menu">Menu <i class="fa fa-bars"></i></label>

  <input type="checkbox" id="menu">

  <ul>

    {% for item in menu_items %}

    <li {% if item.sub_menu %} class="menu-hasdropdown" aria-haspopup="true" {% endif %}>

        <a href="{{ item.href }}">

            {{ item.text }}

            {% if item.sub_menu %}

            <label title="toggle menu" for="menu-{{ forloop.counter }}">
                <i class="fa fa-caret-down"></i>
            </label>

            {% endif %}
        </a>

        {% if item.sub_menu %}

        <input type="checkbox" id="menu-{{ forloop.counter }}">

        <ul class="menu-dropdown">

            {% for sub_item in item.sub_menu.items %}

            <li><a href="{{ item.href }}">{{ item.text }}</a></li>

            {% endfor %}

        </ul>

        {% endif %}

    </li>

    {% endfor %}

  </ul>

</div>
