{% load wagtailcore_tags static %}

<div 
    data-pattern="organisms/forms/form"
    class="md:py-16 bg-right-bottom bg-no-repeat bg-125% md:bg-70% lg:bg-50% 2xl:bg-auto"
    style="background-image:url({% static 'images/Masked Home Gray 2.jpg' %})">

    <div class="container">

        <div class="lg:w-7/12 xl:w-1/2">

        <div class="bg-blue-light4 py-12 md:px-16 md:py-20 xl:px-24 xl:py-20 full-width md:full-width-none container md:rounded-2xl">                 

            <h2 class="mb-8 md:mb-12 text-lg lg:text-3xl text-blue-dark font-bold">{{ title }}</h2>                 

            {% if introduction %}
            <div class="mb-8 md:mb-12 text-xs md:text-lg text-blue-dark">{{ introduction | richtext }}</div>        
            {% endif %}

            <form action="{% pageurl form_page %}" method="POST" role="form" class="form">

                {% csrf_token %}

                {% include "patterns/molecules/fields/fields.html" %}
                
                <div class="w-1/2"></div>
                {% include "patterns/atoms/button/button.html" with type="submit" text=submit_button_text color="blue" inverted=False size="small" %}

            </form>

        </div>    

    </div>    

</div>