<div 
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 {{ class }}"
    {% if activate_inifinite_scroll and homes.next_page_number %}
    hx-get="/homes/?page={{ homes.next_page_number }}"
    hx-trigger="revealed"
    hx-swap="afterend"
    {% endif %}>

    {% for home in homes %}

        {% include "patterns/molecules/cards/home/home.html" with url=home.url title=home.title main_image=home.main_image verified=home.verified bedrooms=home.bedrooms baths=home.baths sqft=home.sqft cost=home.cost estimated_cost=home.estimated_cost %}

    {% endfor %}

</div>