{% load svg %}

{% for item in menu_items %}

<li 
    data-pattern="molecules/menus/main-nav"
    class="luxbar-item luxbar-item-first-level {% if item.sub_menu %}active{% endif %} {% if item.sub_menu %}dropdown{% endif %}">

    <a
        class="luxbar-item-a luxbar-item-a-first-level md:pointer-events-none lg:pointer-events-auto"
        href="{{ item.href }}">

        {{ item.text }}

        {% if item.sub_menu.items %}

            {% svg 'down arrow' %}

        {% endif %}

    </a>

    {% if item.sub_menu %}

    <ul class="{% if item.sub_menu.items|length > 2 %} col-count-2 {% endif %}">

        {% for sub_item in item.sub_menu.items %}

        <li class="luxbar-item {% if sub_item.sub_menu %}active{% endif %}">

            <a class="luxbar-item-a" href="{{ sub_item.href }}">{{ sub_item.text }}</a>

            {% svg 'right arrow blue' %}

        </li>

        {% endfor %}

    </ul>

    {% endif %}

</li>

{% endfor %}