{% load custom_tags %}

{% for field in form %}
    <div class="form__field-wrapper">
        {{ field.errors }}

        {% if field|is_checkbox %}
        <div class="form__checkbox">
        
            {{ field.label_tag }}
            {{ field }}

        </div>
        {% else %}
        <div class="form__input js-input">
            {{ field.label_tag }}
            {{ field }}
        </div>    
        {% endif %}

        {% if field.help_text %}

        <p class="help">{{ field.help_text|safe }}</p>

        {% endif %}
    </div>
{% endfor %}