<div data-pattern="organisms/homes-grid/homes-grid" class="container pt-6 lg:pt-14 {{ homes_grid_class }}">

    <div class="mb-6 md:mb-14 flex justify-center text-center">
    
        <h2 class="font-bold text-1.5xl md:text-3xl text-blue-dark">{{ title }}</h2>

    </div>

    <div class="md:hidden">
    
        {% include "patterns/molecules/sliders/homes/homes.html" with homes=homes class="mb-12" %}

    </div>

    <div class="hidden md:flex justify-center">

        <div class="xl:w-87%">
    
        {% include "patterns/molecules/homes-grid/homes-grid.html" with homes=homes wide_design=True class="mb-20" %}

        </div>

    </div>

    {% if settings.base.HomePageSettings.home_similar_button_text %}
    
    <div class="flex justify-center">

        {% include "patterns/atoms/button/button.html" with text=settings.base.HomePageSettings.home_similar_button_text url=settings.base.HomePageSettings.home_similar_button_link.get_url color="blue" inverted=False %}

    </div>

    {% endif %}

</div>