{% load svg %}

<div class="container pt-2 md:pt-12">

    <div class="relative">

        <div class="relative flex justify-between pb-48 md:pb-0 2xl:pt-16 z-30">

            {% block bg_image %}
            {% endblock %}

            <div class="md:relative pb-20 pt-4 lg:pt-14">

                <div class="lg:w-1/2">

                    {% block left_content %}
                    {% endblock %}

                </div>

            </div>

        </div>

        {# Wave blue overlay on tablet, desktop #}
        <div class="hidden md:block absolute -bottom-0.5 full-width h-3/6 z-10 overflow-hidden">{% svg 'blue overlay' %}</div>

        {% block bottom_content %}
        {% endblock %}

    </div>

</div>