<div data-pattern="molecules/sliders/homes" class="splide splide--homes js-splide-homes {{ class }}">

	<div class="splide__track">

		<ul class="splide__list">

            {% for home in homes %}

			<li class="splide__slide flex justify-center">

            	{% include "patterns/molecules/cards/home/home.html" with url=home.url title=home.title main_image=home.main_image verified=home.verified bedrooms=home.bedrooms baths_formatted=home.baths_formatted sqft=home.sqft cost_formatted=home.cost_formatted estimated_cost_formatted=home.estimated_cost_formatted bedrooms_text=home.bedrooms_text baths_text=home.baths_text class="" %}

			</li>

           {% endfor %} 

		</ul>
        
	</div>

</div>