{% load svg %}

<div
    data-pattern="atoms/button/button-icon"
    class="js-button-icon relative group">

    {% include "patterns/atoms/button/button.html" with text=text size=size text_size=text_size color=color inverted=inverted rounded=rounded has_icon=True class="" %}

    {% if image %}

    <div class="absolute left-0 top-0 flex items-center h-full ml-6 md:ml-6 z-10">

        <img src="{{ image }}" class="js-button-icon h-6 lg:h-8 group-hover:hidden">

        {% if image_inverted %}  

        <img src="{{ image_inverted }}" class="js-button-icon-inverted hidden group-hover:block h-6 lg:h-8">

        {% endif %}  

    </div>

    {% endif %}

    {% if icon %}

    <div class="absolute left-0 top-0 flex items-center icon--small h-full ml-4 md:ml-6 -z-10">

    {% svg icon %}

    </div>

    {% endif %}

</div>