{% if url %}
<a
{% else %}
<button
{% endif %}

    {% if id %}
    id="{{ id }}"
    {% endif %}

    {% if type %}
    type="{{ type }}"
    {% endif %}

    {% if url %}
    href="{{ url }}"
    {% endif %}

    class="flex justify-center items-center md:pr-12 w-full font-bold text-lg md:text-xl leading-none rounded-full outline-none

    {% if size == "normal" %} h-16 md:h-20 {% endif %}
    {% if size == "small" %} h-14 {% endif %}

    {% if inverted is False %} text-white {% endif %}
    {% if inverted is False and color == "green" %} bg-green {% endif %}
    {% if inverted is False and color == "blue" %} bg-blue-light {% endif %}

    {% if inverted is True %} border-2 {% endif %}
    {% if inverted is True and color == "green" %} text-green border-green {% endif %}
    {% if inverted is True and color == "blue" %} text-blue-light border-blue-light {% endif %}

    {% if icon %} icon icon-magnifying {% else %} md:pl-12 {% endif %}

    {{ class }}">

    {{ text }}

{% if url %}
</a>
{% else %}
</button>
{% endif %}