{% if url %}
<a
{% else %}
<button
{% endif %}

    {% if id %}
    id="{{ id }}"
    {% endif %}

    {% if type %}
    type="{{ type }}"
    {% endif %}

    {% if hx_get %}
    hx-get="{{ hx_get }}"
    {% endif %}    

    {% if hx_post %}
    hx-post="{{ hx_post }}"
    {% endif %}      

    {% if hx_target %}
    hx-target="{{ hx_target }}"
    {% endif %}        

    {% if hx_swap %}
    hx-swap="{{ hx_swap }}"
    {% endif %}       

    {% if url %}
    href="{{ url }}"
    {% endif %}

    {% if new_window or link.new_window %}
    target="_blank"
    {% endif %}

    {% if modal_id %}
    data-micromodal-trigger="{{ modal_id }}"
    {% endif %}

    data-pattern="atoms/button/button"

    class="js-button inline-flex items-center w-full leading-none outline-none transition delay-75 ease-in-out border md:border-2

    {% if has_icon %} pl-14 pr-8 lg:pl-16 lg:pr-8 {% else %} px-8 md:px-12 justify-center {% endif %}

    {% if full_width %} {% else %} max-w-16.25 md:max-w-21.25 {% endif %}

    {% if text_size == "small" %} text-sm md:text-lg font-medium {% else %} text-base xl:text-1.5xl font-bold {% endif %}

    {% if size is None or size == "medium" %} py-5 lg:py-6 {% endif %}
    {% if size == "small" %} py-3 lg:py-4 {% endif %}
    {% if size == "mobile-normal-desktop-small" %} py-5 lg:py-4 {% endif %}

    {% if rounded == "small" %} rounded-lg {% else %} rounded-full {% endif %}

    {% if inverted is False %} text-white hover:border-2 {% endif %}
    {% if inverted is False and color == "green" %} bg-green border-green hover:bg-white hover:text-green hover:border-green {% endif %}
    {% if inverted is False and color == "blue" %} bg-blue-light border-blue-light hover:bg-white hover:text-blue-light hover:border-blue-light {% endif %}

    {% if inverted is True and color == "green" %} text-green border-green hover:text-white hover:bg-green {% endif %}
    {% if inverted is True and color == "blue" %} text-blue-light border-blue-light hover:text-white hover:bg-blue-light group-hover:text-white group-hover:bg-blue-light {% endif %}

    {{ class }}">

    {{ text }}

{% if url %}
</a>
{% else %}
</button>
{% endif %}