{% extends "base_page.html" %}

{% load wagtailcore_tags %}

{% block content %}

    <div class="container py-12 lg:py-24 flex flex-col items-center">

        <div class="md:w-10/12 lg:w-8/12">
        
            {% include_block page.body %}
        
        </div>

        <div class="mt-6 lg:mt-16 mb-16 lg:mb-32 lg:flex justify-between w-full">

            <div class="mb-8 lg:mb-0">
            {% include "patterns/atoms/links/blue-link.html" with text=prev_article_title url=prev_article_url %}
            </div>

            <div>
            {% include "patterns/atoms/links/blue-link.html" with text=next_article_title url=next_article_url %}
            </div>
        
        </div>        
    
    </div>

{% endblock %}