/* Spacing between blocks */
div[class^="block-"] {
	@apply mb-4;

	@screen lg {
		@apply mb-12;
	}
}

div.block-headingH1 {
	@apply mb-4;

	@screen lg {
		@apply mb-7;
	}
}

div.block-headingH2 {
	@apply mt-6 mb-2;

	@screen lg {
		@apply mt-24 mb-4;
	}
}

/* Spacing margin exceptions */
div.block-two_columns,
div.block-hero,
div.block-hero2,
div.block-ForumCTA,
div.block-partnersButtons,
div.block-PopularHomesGrid,
div.block-GetYourHouseCTA,
div.block-PartnersCTA,
div.block-ResourcesCTA,
div.block-Separator,
div.block-PartnerTypeGrid,
div.block-articlesCTA {
	@apply mb-0 clear-both;
}

/* Add more spacing between a block and a H2 Heading block 
div[class^="block-"] ~ .block-headingH2 {
    @apply mt-8;

    @screen lg {
        @apply mt-16;
    }
}
*/
/* Add less spacing between a H1 heading block and a Paragraph block 
.block-headingH1 ~ .block-paragraph {
    @screen lg {
        @apply -mt-8;
    }
}
*/

.richtext-image {
    &.left {
        @apply mt-0 mr-0 float-left;
    }

    &.right {
        @apply mt-0 ml-0 float-right;
    }    
}

/* Clear image floating */
.block-headingH2,
.block-image,
.block-paragraph,
.block-embed,
.block-quote {
    clear: both;
}

.block-embed {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;        
    }
}