.icon {
	padding-left: 5.2rem !important;
	background-position: 15%;
	background-repeat: no-repeat;
	background-size: 8%;
}

.icon--small {
	svg {
		height: 1.5rem;

		@screen md {
			height: 1.8rem;
		}		

		@screen xl {
			height: 2rem;
		}
	}
}

.icon--small2 {
	transform: scale(0.8);

	@screen 2xl {
		transform: scale(1);
	}
}

.icon-green {
	path {
		fill: #609c00;
	}
}

.icon-green-hover {
	&:hover {
		.price-icon-a,
		.price-icon-b,
		.home-icon-a {
			stroke: #609c00;
		}
	}
}

.icon-rotate {
  svg {
    transform: rotate(180deg);
  }
}

.svg-text-icon {
	svg {
		height: 3.8rem;

		@screen lg {
			height: 5rem;
		}
	}
}

.svg-h-1 {
	svg {
		height: 1rem;
	}
}

.svg-h-2\.5 {
	svg {
		height: 2rem;
		
		@screen lg {
			height: 2.5rem;
		}
	}
}

.svg-h-3 {
	svg {
		height: 3rem;
	}
}

.svg-h-\.4 {
	svg {
		height: .4rem;
	}
}

.svg-h-\.8 {
	svg {
		height: .4rem;

		@screen lg {
			height: .8rem;
		}
	}
}

.svg-h-1\.2 {
	svg {
		height: 1.3rem;

		@screen lg {
			height: 1.2rem;
		}
	}
}

.svg-h-house {
	svg {
		height: 10rem;
	}
}