/* Luxbar navbar overriding styles https://balzss.github.io/luxbar/ */

.luxbar-default {
  box-shadow: none !important;
}

.luxbar-header {
  margin-bottom: 3rem;
}

.luxbar-hamburger {
  padding: 0 !important;

  &--black {
    span {
      background-color: #000000;

      &:before,
      &:after {
        background-color: #000000;
      }
    }
  }

  &--bold {
    span {
      &:before,
      &:after {
        height: 3px;
      }
    }
  }

  &--opened {
    span {
      background-color: transparent;

      &:before {
        margin-top: 0;
        transform: rotate(-45deg);
      }

      &:after {
        margin-top: 0;
        transform: rotate(45deg);
      }
    }
  }
}

.luxbar-logo {
  img {
    max-height: 5.2rem;
  }
}

.luxbar-checkbox:not(:checked) ~ .luxbar-menu {
  height: 67px !important;
}

.luxbar-menu {
  padding-top: .3rem;
  padding-bottom: .5rem;

  .luxbar-item {
    height: auto !important;
    text-align: center;
  }

  .luxbar-item-a-first-level {
    display: flex;
    align-items: center; 
    padding: .8rem !important;
    font-size: 1.15rem;
    font-weight: bold;
    
    svg {
      margin-top: 2px;
      margin-left: .5rem;
    }    
  }

  .dropdown {
    min-height: auto !important;

    &:hover {
      svg  {
        transform: rotate(180deg);    
        transition: transform .5s ease;
      }
    }

    ul {
      .luxbar-item-a {
        padding: .5rem 0 !important;
        min-height: auto !important;
        line-height: normal !important;
      }
    }
  }
}

/**
 * ----------------------------------------
 * Mobile menu opened
 * ----------------------------------------
 */
 .luxbar-checkbox:checked {
  & ~ .luxbar-menu {
    background-color: #09293C !important;
    width: 100vw;
    margin-left: 49.2%;
    margin-right: 49.2%;
    transform: translateX(-50%);    
    transition: height .6s ease !important;

    .luxbar-logo-color {
      display: none;
    }

    .luxbar-logo-white {
      display: block;
    }

    .luxbar-navigation {
      padding-right: 2rem;
      padding-left: 2rem;
    }

    .luxbar-hamburger {
      span {
        background-color: #ffffff;

        &:before,
        &:after {
          background-color: #ffffff;
        }
      }
    }

    .luxbar-item {
      display: flex;
      align-items: center;       
      flex-direction: column;       
      background-color: #09293C !important;
    }

    .luxbar-item-a {
      color: #ffffff !important;
    }

    .dropdown {
      ul {
        display: none;
        background-color: #09293C !important;
      }    

      .luxbar-item {
        padding: .5rem 1rem !important;
      }

      .luxbar-item-a-first-level {
        svg {
          line {
            stroke: #ffffff;
          }
        }      

        &:after {
          display: none !important;
        }        

        &.opened {
          color: #36B2FF !important;      
          
          svg {
            line {
              stroke: #36B2FF !important;
            }
          }             
        }

        &:not(.opened) {
          svg {
            transform: rotate(0deg);
          }
        }
      }
    }
  }
}

/**
 * ----------------------------------------
 * Medium screen
 * ----------------------------------------
 */
@screen md {
  .luxbar-header {
    margin-bottom: 0rem;
    height: auto !important;
  }

  .luxbar-menu {
    height: auto !important;

    .luxbar-item {
      display: flex;
      align-items: center;
      box-sizing: initial !important;
      padding: .75rem;
      text-align: left;
  
      &:hover {
        background-color: #ffffff !important;
      }        
    }

    .luxbar-item-a-first-level {
      padding: 0 !important;
      color: #09293C;
      font-size: 1rem;      
      font-weight: normal;
    }
  
    .luxbar-item-a {
      position: relative;
      box-sizing: initial !important;
      width: 100%;
  
      &:hover {
        color: #5D9700 !important;
      }    
    }  
  
    .dropdown {
      &:hover {
        ul {
          top: 59px !important;
        }

        .luxbar-item-a-first-level {
          color: #5D9700 !important;

          /* Horizontal line for the 2nd level box in desktop */
          &:after {
            position: absolute;
            top: 42px !important;
            left: 0;
            content: '';
            height: 5px;
            width: 100%;
            background-color: #5D9700;
            z-index: 10;
          }

          svg {
            stroke: #5D9700 !important;
          }
        }
      }       
  
      ul {
        margin-top: 1rem;
        box-shadow: 5px 5px 20px #00000029;
        border-radius: 15px;
        padding: 3.5rem 5rem 3rem 5rem !important;
  
        .luxbar-item-a {
          display: inline;
          padding-right: 3.5rem !important;
          color: #0C466C;
          font-size: 1.31rem;
          background-image: url('svg/right arrow blue.svg');
          background-repeat: no-repeat;
          background-position: right 1.5rem center;
        }
  
        li {
          display: inline-block !important;
          padding: 0 0 1.35rem 0 !important;
          height: auto !important;
        }      
      }
    }
  }  
}

/**
 * ----------------------------------------
 * Extra Large screen
 * ----------------------------------------
 */
@screen xl {  
  .luxbar-menu {
    .luxbar-item {
      padding: 1rem;
    }

    .luxbar-item-a {
      font-size: 1.25rem !important;    
    }

    .luxbar-item-first-level {
      padding: 1rem 1.2rem !important;
    }

    .dropdown {
      ul {
        column-count: 2;
        column-gap: 7rem; 
      }
    }
  }
}

@screen 2xl {  
  .luxbar-menu {
    .luxbar-item-first-level {
      padding: 1rem 2rem !important;
    }
  }
}

/**
 * ----------------------------------------
 * White theme
 * ----------------------------------------
 */
 .luxbar-menu-light {
  background-color: #ffffff !important;
  transition: none !important;

  .luxbar-hamburger {
    span {
      background-color: #5D9700;
      height: 3px;
      border-radius: 4px;

      &:before,
      &:after {
        background-color: #5D9700;
        height: 3px;
        border-radius: 4px;
      }
    }
  }

  .active {
    background-color: #ffffff !important;
  }

  .dropdown {
    ul {
      background-color: #ffffff !important;
    }

    &:hover {
      @screen md {  
        .luxbar-item-a-first-level {
          color: #5D9700 !important;

          svg  {
            line {
              stroke: #5D9700 !important;
            }
          }
        }
      }
    }      
  }

  .luxbar-logo-white {
    display: none;
  }
}

/**
 * ----------------------------------------
 * Blue theme
 * ----------------------------------------
 */
.luxbar-menu-blue {
  .luxbar-logo-color {
    display: none;
  }

  .luxbar-item-a {
    color: #ffffff !important;
  }  
}
