/* Luxbar navbar overriding styles https://balzss.github.io/luxbar/ */

.luxbar-default {
  position: static !important;
  box-shadow: none !important;
}

.luxbar-header {
  margin-bottom: 3rem;
}

.luxbar-hamburger {
  padding: 0 !important;

  &--black {
    span {
      background-color: #000000;

      &:before,
      &:after {
        background-color: #000000;
      }
    }
  }

  &--bold {
    span {
      &:before,
      &:after {
        height: 3px;
      }
    }
  }

  &--opened {
    span {
      background-color: transparent;

      &:before {
        margin-top: 0;
        transform: rotate(-45deg);
      }

      &:after {
        margin-top: 0;
        transform: rotate(45deg);
      }
    }
  }
}

.luxbar-logo {
  img {
    max-height: 5.2rem;
  }
}

.luxbar-checkbox:not(:checked) ~ .luxbar-menu {
  height: 67px !important;
}

.luxbar-menu {
  padding-top: .3rem;
  padding-bottom: .5rem;

  .luxbar-item {
    height: auto !important;
    text-align: center;
  }

  .luxbar-item-a-first-level {
    display: flex;
    align-items: center; 
    padding: .8rem !important;
    font-size: 1.15rem;
    font-weight: bold;
    
    svg {
      margin-top: 2px;
      margin-left: .5rem;
    }    
  }

  .dropdown {
    min-height: auto !important;

    &:hover {
      .luxbar-item-a-first-level {
        svg  {
          transform: rotate(180deg);    
          transition: transform .5s ease;
        }
      }
    }

    ul {
      .luxbar-item-a {
        padding: .5rem 0 !important;
        min-height: auto !important;
        line-height: normal !important;
      }
    }
  }
}

/**
 * ----------------------------------------
 * Mobile menu opened
 * ----------------------------------------
 */
 .luxbar-checkbox:checked {
  & ~ .luxbar-menu {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto !important;
    padding-bottom: 6rem;
    background-color: #09293C !important;
    transition: height .6s ease !important;

    .luxbar-logo-color {
      display: none;
    }

    .luxbar-logo-white {
      display: block;
    }

    .luxbar-navigation {
      padding-right: 2rem;
      padding-left: 2rem;
    }

    .luxbar-hamburger {
      span {
        background-color: #ffffff;

        &:before,
        &:after {
          background-color: #ffffff;
        }
      }
    }

    .luxbar-item {
      display: flex;
      align-items: center;       
      flex-direction: column;       
      background-color: #09293C !important;
    }

    .luxbar-item-a {
      color: #ffffff !important;
    }

    .dropdown {
      ul {
        display: none;
        background-color: #09293C !important;
      }    

      .luxbar-item {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 1rem !important;

        svg {
          display: none;
        }
      }

      .luxbar-item-a {
        padding: .65rem 0 !important;
      }

      .luxbar-item-a-first-level {
        svg {
          line {
            stroke: #ffffff;
          }
        }      

        &:after {
          display: none !important;
        }        

        &.opened {
          color: #36B2FF !important;      
          
          svg {
            line {
              stroke: #36B2FF !important;
            }
          }             
        }

        &:not(.opened) {
          svg {
            transform: rotate(0deg);
          }
        }
      }
    }
  }
}

/**
 * ----------------------------------------
 * Medium screen
 * ----------------------------------------
 */
@screen md {
  .luxbar-header {
    margin-bottom: 0rem;
    height: auto !important;
  }

  .luxbar-checkbox:not(:checked) ~ .luxbar-menu {
    height: auto !important;
  }

  .luxbar-menu {
    .luxbar-item {
      display: flex;
      align-items: center;
      box-sizing: initial !important;
      padding: .75rem .75rem 2rem .75rem;
      text-align: left;      
    }

    .luxbar-item-a-first-level {
      padding: 0 !important;
      color: #09293C !important;
      font-size: 1rem;      
      font-weight: normal;
    }
  
    .luxbar-item-a {
      position: relative;
      box-sizing: initial !important;
      width: 100%;   
    }  
  
    .dropdown {
      &:hover {
        ul {
          top: 47px !important;
          z-index: 10;
        }

        .luxbar-item-a-first-level {
          /* Horizontal line for the 2nd level box in desktop */
          &:after {
            position: absolute;
            top: 40px !important;
            left: 0;
            content: '';
            height: 5px;
            width: 100%;
            z-index: 20;
          }
        }
      }       
  
      ul {
        margin-top: 1rem;
        box-shadow: 5px 5px 20px #00000029;
        border-radius: 15px;
        padding: 3.5rem 5rem 3rem 5rem !important;

        .luxbar-item {
          display: inline-flex !important;
          flex-direction: row;     
        }
  
        .luxbar-item-a {
          display: inline;
          padding: 0 1rem .3rem 0 !important;
          color: #0C466C !important;
          font-size: 1.31rem;
          width: auto !important;
        }
  
        li {
          display: inline-block !important;
          padding: 0 0 1.35rem 0 !important;
          height: auto !important;
        }      
      }
    }
  }  
}

/**
 * ----------------------------------------
 * Large screen
 * ----------------------------------------
 */
@screen lg {  
  .luxbar-menu {
    .dropdown {
      &:hover {
        ul {
          top: 60px !important;
        }    

        .luxbar-item-a-first-level {      
          /* Horizontal line for the 2nd level box in desktop */
          &:after {
            top: 49px !important;
          }
        }
      }
    }
  } 
}
/**
 * ----------------------------------------
 * Extra Large screen
 * ----------------------------------------
 */
@screen xl {  
  .luxbar-menu {
    .luxbar-item {
      padding: 1rem;
    }

    .luxbar-item-a {
      font-size: 1.25rem !important;    
    }

    .luxbar-item-first-level {
      padding: 1rem 1.2rem !important;
    }

    .dropdown {
      ul {
        column-gap: 7rem; 
      }
    }
  }
}

@screen 2xl {  
  .luxbar-menu {
    .luxbar-item-first-level {
      padding: 1rem 2rem !important;
    }
  }
}

/**
 * Common Theme.
 */
.luxbar-hamburger {
  span {
    height: 3px;
    border-radius: 4px;

    &:before,
    &:after {
      height: 3px;
      border-radius: 4px;
    }
  }
}  

.dropdown {
  ul {
    background-color: #ffffff !important;
  }
}

/**
 * ----------------------------------------
 * White theme
 * ----------------------------------------
 */
.luxbar-menu-light {
  background-color: #ffffff !important;
  transition: none !important;

  .luxbar-hamburger {
    span {
      background-color: #5D9700;

      &:before,
      &:after {
        background-color: #5D9700;
      }
    }
  }

  .active {
    background-color: #ffffff !important;
  }

  .luxbar-logo-white {
    display: none;
  }

  .luxbar-item {
    &:hover {
      background-color: #ffffff !important;
    }        
  }  

  .luxbar-item-a {
    &:hover {
      color: #5D9700 !important;
    }    
  } 

  @screen md {  
    .dropdown {
      &:hover {
        .luxbar-item-a-first-level {
          color: #5D9700 !important; 

          &:after {
            background-color: #5D9700;
          }
        }
      }

      .luxbar-item {
        &:hover {
          .luxbar-item-a {
            color: #5D9700 !important; 
          }
  
          svg {
            path {
              fill: #5D9700;
            }
          }
        }
      }

      &:hover {
        .luxbar-item-a {
          &:hover {
            color: #5D9700 !important;
          }
        }

        .luxbar-item-a-first-level {
          svg  {
            line {
              stroke: #5D9700 !important;
            }
          }
        }
      }
    }
  }
}

/**
 * ----------------------------------------
 * Blue theme
 * ----------------------------------------
 */
.luxbar-menu-blue {
  .luxbar-logo-color {
    display: none;
  }

  .luxbar-hamburger {
    span {
      background-color: #36B2FF;

      &:before,
      &:after {
        background-color: #36B2FF;
      }
    }
  }  

  .luxbar-item-a-first-level {
    svg {
      line {
        stroke: #ffffff;
      }
    }        
  }  

  .luxbar-item-a {
    color: #ffffff !important;
  }  

  .luxbar-item-a {
    &:hover {
      color: #36B2FF !important;
    }    
  }   

  @screen md {  
    .dropdown {
      &:hover {
        .luxbar-item-a-first-level {
          color: #36B2FF !important; 
          
          &:after {
            background-color: #36B2FF;
          }
        }
      }

      .luxbar-item {
        &:hover {
          .luxbar-item-a {
            color: #36B2FF !important; 
          }
  
          svg {
            path {
              fill: #36B2FF;
            }
          }
        }
      }

      &:hover {
        .luxbar-item-a {
          &:hover {
            color: #36B2FF !important;
          }
        }

        .luxbar-item-a-first-level {
          svg  {
            line {
              stroke: #36B2FF !important;
            }
          }
        }
      }
    }
  }
}
