<div
    data-pattern="organisms/columns/three-blocks"
    class="container mb-12 xl:mb-16">

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 lg:gap-24">

        {% for column in columns %}

        <div>

            <img src="{{ column.icon.url }}" alt="{{ column.icon.title }}" class="h-12 md:h-auto">
        
            <h3 class="my-4 md:my-7 text-base lg:text-2xl text-blue-dark font-medium">
            
                {{ column.title }}
            
            </h3>

            <p class="hidden md:block md:mb-9 text-lg text-black-light font-medium">
            
                {{ column.text }}

            </p>

            {% include "patterns/atoms/links/link-arrow.html" with url=column.link.get_url text=column.link_text new_window=column.link.new_window color="green" %}

        </div>

        {% endfor %}  

    </div>    

</div>