<select
    name="{{ id }}"
    id="{{ id }}"
    class="w-full text-blue-green border-blue-green

        {% if size == "normal" %} lg:pl-6 {% endif %}
        {% if size == "big" %} py-7.5 lg:pl-20 text-xl font-medium {% endif %}

        {{ icon_class }}
        {{ class }}">

    <option value="all">{{ default_text }}</option>

    {% for option in options %}

    <option value="{{ option.id }}" {% if option.selected %}selected="selected"{% endif%}>
        {{ option.text }}
    </option>

    {% endfor %}

</select>