{% load svg %}

<div class="relative {{ class }}">

    <select
        name="{{ id }}"
        id="{{ id }}"
        class="w-full text-blue-green border-blue-green

            {% if size == "normal" %} lg:pl-6 {% endif %}
            {% if size == "big" %} py-3 md:py-7 pl-16 md:pl-20 text-sm md:text-xl font-medium {% endif %}

            {{ select_class }}">

        <option value="all">
        
            {{ default_text }}
        
        </option>

        {% for option in options %}

        <option value="{{ option.id }}" {% if option.selected %}selected="selected"{% endif%}>

            {{ option.text }}

        </option>

        {% endfor %}

    </select>

    {% if icon %}

        <div class="absolute left-0 top-0 flex items-center icon--small h-full ml-4 md:ml-6">
                
            {% svg icon %}
            
        </div>

    {% endif %}

</div>    