{% extends "base_page.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

    <div data-pattern="templates/homes/homes-index-page" class="mt-6 md:mt-14 lg:mt-20">

        <div class="container lg:flex">


            {# ------------ COLUMNS LAYOUT: FULL WIDTH (FW) ------------------ #}

            {% if page.layout == 'FW' %}

            <div class="pb-6 lg:pb-0">

                {% include_block page.full_content %}

            </div>

            {% endif %}
            
            {# ------------------------------------------------------------ #}           

            {# ------------ COLUMNS LAYOUT: EQUAL WIDTH (EW) ------------ #}

            {% if page.layout == 'EW' %}

                {% include_block page.two_cols_content %}      

            {% endif %}

            {# ----------------------------------------------------------- #}

            {# ------------ COLUMNS LAYOUT: LEFT SIDE SHORTER (LS) ------------------ #}

            {% if page.layout == 'LS' %}

                {% include_block page.two_cols_content_shorter %}      

            {% endif %}
            
            {# ------------------------------------------------------------ #}   

        </div>

        <div id="scrolling-section" class="pb-8 -mt-8"></div>

        <div class="sticky top-0 xl:hidden container py-4 flex justify-between w-full bg-white z-10">

            <div class="w-2/5 md:w-1/4">

                {% include "patterns/atoms/button/button-icon.html" with id="filters-open-button" text="Filters" icon="filter icon" size="small" text_size="small" color="blue" inverted=True %}

            </div>

        </div>

        <div class="container md:flex mb-24 lg:mt-8">

            <div class="xl:block xl:w-26.5%">

                {% include "patterns/molecules/filters/filters.html" with submit_url=page.url class="lg:mr-6 xl:mr-8" %}

            </div>

            <div class="xl:w-73.5%" hx-indicator=".htmx-indicator">

                {% if homes %}

                    {% include "patterns/molecules/homes-grid/homes-grid.html" with homes=homes activate_inifinite_scroll=True %}
 
                {% else %}

                    <p class="mt-8 text-2xl font-bold">No homes available with this criteria.</p>

                {% endif %}

                <center class="mt-12 htmx-indicator">
                    <div class="text-2xl text-blue-dark font-bold">Loading results...</div>
                    <div class="spinner mt-12" width="60"></div>
                </center>

            </div>

        </div>

    </div>   

{% endblock %}