{% extends "base_page.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

    <div class="container pt-20">

        <div class="pb-20">

            <h1 class="text-4xl text-blue-dark font-bold leading-4.5">{{ page.intro }}</h1>

        </div>

        <div class="md:flex mb-24">

            <div class="hidden xl:block xl:w-26.5%">

                {% include "patterns/molecules/filters/filters.html" with class="lg:mr-8" %}

            </div>

            <div class="xl:w-73.5%" hx-indicator=".htmx-indicator">

                {% if homes %}

                    {% include "patterns/molecules/homes-grid/homes-grid.html" with homes=homes activate_inifinite_scroll=True class="mb-8" %}

                {% else %}

                    <p class="mt-8 text-2xl font-bold">No homes available with this criteria.</p>

                {% endif %}

                <center><div class="htmx-indicator spinner" width="60"></div></center>

            </div>

        </div>

    </div>   

{% endblock %}