{% extends "base_page.html" %}

{% load static wagtailcore_tags wagtailimages_tags svg custom_tags %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/sharer.js@latest/sharer.min.js"></script>
{% endblock %}

{% block content %}

<div data-pattern="templates/homes/home-page" class="-mt-24 xl:-mt-24">

    <!-- Home Info section -->

    <div class="border-b border-gray-60 pb-14 mb-8">

        <div class="lg:flex container">

            {% if page.elevation_gallery_images.all %}

            <div class="lg:w-1/2 lg:pr-16">

                {# Mobile device share button #}
                <div class="lg:hidden relative flex justify-end mb-1 z-20">
                {% include "patterns/molecules/sharer/sharer.html" with url=page.full_url title=page.title %}
                </div>            
            
                {% include "patterns/molecules/sliders/images/images.html" with images=page.elevation_gallery_images.all slider_class="mb-5 lg:mb-0" %}
            
            </div>

            {% endif %}

            <div class="lg:w-1/2">

                <div class="flex justify-between mb-5 md:mb-8 lg:mb-16 xl:mb-24 ">
                
                    <h1 class="text-1.5xl md:text-4xl text-blue-dark lg:text-white font-bold">{{ page.title }}</h1>

                    {# Desktop share button #}
                    <div class="hidden lg:block">
                    {% include "patterns/molecules/sharer/sharer.html" with url=page.full_url title=page.title %}
                    </div>

                </div>

                <div class="md:flex mb-7 lg:mb-12">

                    <!-- Prices in tablet and above -->
                
                    <div class="hidden md:block md:pr-16 js-tooltip">

                        {% include "patterns/atoms/labels/label1.html" with title="Base Price" value=page.cost_formatted wide_design=True text_size="big" class="md:mb-8" %}

                        <div class="hidden md:block mb-8 w-full h-0.5 bg-gray-40"></div>

                        {% include "patterns/atoms/labels/label1.html" with title="Est. total" value=page.estimated_cost_formatted icon="help" wide_design=True text_size="big" class="" %}

                        {% include "patterns/atoms/tooltip/tooltip.html" with message=settings.base.HomePageSettings.home_tooltip_text %}

                    </div>

                    <!-- End Prices in desktop -->

                    <div class="w-full">

                        <!-- Home attributes -->

                        <div class="xl:w-10/12 mb-5 lg:mb-6 pb-4 lg:pb-0 grid grid-flow-col grid-cols-2 md:grid-cols-3 grid-rows-3 md:grid-rows-2 gap-2 border-b border-gray-40 lg:border-0">
                        
                            {% with icon_text_class="mr-2 mb-2 lg:px-2 lg:py-2" %}

                            {% include "patterns/atoms/icon-text/icon-text.html" with title=page.bedrooms_text quantity=page.bedrooms icon="Beds Icon" big_text=True class=icon_text_class %}
                            {% include "patterns/atoms/icon-text/icon-text.html" with title=page.baths_text quantity=page.baths_formatted icon="Baths Icon" big_text=True class=icon_text_class %}
                            {% include "patterns/atoms/icon-text/icon-text.html" with title="Sq. Ft" quantity=page.sqft icon="Sq Feet Icon" big_text=True class=icon_text_class %}
                            {% include "patterns/atoms/icon-text/icon-text.html" with title=page.style icon="Home Icon small" big_text=True class=icon_text_class %}
                            {% include "patterns/atoms/icon-text/icon-text.html" with title=page.stories_text quantity=page.stories_formatted icon="Measure Icon" big_text=True class=icon_text_class %}

                            {% endwith %}

                        </div>

                        <!--End Home attributes -->

                        <!-- Prices in mobile -->

                        <div class="flex md:hidden justify-between mb-7 w-10/12">

                            {% include "patterns/atoms/labels/label1.html" with title="Base Price" value=page.cost_formatted wide_design=True text_size="big" class="md:mb-8" %}

                            {% include "patterns/atoms/labels/label1.html" with title="Est. total" value=page.estimated_cost_formatted icon="help" wide_design=True text_size="big" class="" %}

                        </div>

                        <!-- End Prices in mobile -->                    

                        <!-- Verified box -->

                        <div class="flex px-2 py-3.5 lg:px-7 lg:py-7 bg-blue-light4">

                            <div class="w-2/12 md:w-1/12 flex items-center">
                            
                                {% svg 'verified' %}
                                
                            </div>

                            <div class="w-10/12 md:w-11/12 pl-2 lg:pl-6">
                            
                                <div class="mb-2.5 text-xs md:text-lg text-blue-dark font-bold">{{ settings.base.HomePageSettings.home_verified_title }}</div>

                                <div class="text-xxs md:text-base text-blue-green">{{ settings.base.HomePageSettings.home_verified_text }}</div>
                            
                            </div>
                        
                        </div>

                        <!-- End Verified box -->

                    </div>    
                
                </div>

                <p class="mb-7 lg:mb-12 text-sm lg:text-lg text-black-medium leading-normal">{{ page.intro }}</p>

                <div class="mb-7 lg:mb-8">

                    {% if home_form_id %}

                        {% form_modal "home-modal" %}

                        {% include "patterns/atoms/button/button.html" with text=settings.base.HomePageSettings.home_button_text color="blue" size="medium" inverted=False modal_id="home-modal" %}
                
                    {% endif %}

                </div>

                <p class="text-xxs lg:text-base text-gray-30">{{ settings.base.HomePageSettings.home_small_text }}</p>

            </div>

        </div>    

    </div>    

    <!-- End Home Info section -->

    {% include "patterns/organisms/homes-grid/homes-grid.html" with title=settings.base.HomePageSettings.home_similar_title homes=similar_homes %}

    {% resources_cta "big" %}

</div>

{% endblock %}