{% extends "base_page.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}

    <div class="py-24">

        {{ page.intro }}

    </div>

    <div class="flex mb-24">

        <div class="w-1/4">

            {% include "patterns/molecules/filters/filters.html" with class="lg:mr-8" locations=locations %}

        </div>

        <div class="w-3/4" hx-indicator=".htmx-indicator">

            {% if cards %}
                {% include "patterns/molecules/cards-grid/cards-grid.html" %}
            {% else %}
                <p>No homes available with this criteria.</p>
            {% endif %}

            <center><div class="htmx-indicator spinner" width="60"></div></center>

        </div>

    </div>

{% endblock %}