{% extends "machina/board_base.html" %}
{% load static wagtailimages_tags %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'mhoapp/main.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
{% endblock css %}

{% block header %}

    {% include "patterns/organisms/header/header.html" %}

    <nav class="navbar navbar-expand-lg navbar-light mt-24">

        <div class="container">

            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                {% block header_collapse %}

                <ul class="lg:flex lg:items-center navbar-nav ml-auto">

                    <form
                        class="form-inline my-2 ml-3 my-lg-0"
                        role="search"
                        action="{% url 'forum_search:search' %}">

                        <input
                            class="form-control mr-sm-2"
                            type="search"
                            placeholder="Search"
                            aria-label="Search"
                            name="q">

                        <button
                            class="btn text-blue-dark my-2 my-sm-0"
                            type="submit">
                            Search
                        </button>

                    </form>

                    <a
                        class="nav-item nav-link text-blue-dark lg:mr-8"
                        href="{% url 'forum_search:search' %}">
                        Advanced search
                    </a>

                    {% if request.user.is_authenticated %}

                        <li class="lg:flex lg:items-center nav-item dropdown">

                            <a
                                href="#"
                                id="id_navbar_dropdown"
                                class="nav-link dropdown-toggle text-blue-dark"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">

                                <span class="fas fa-user"></span>
                                <strong>{{ request.user.username }}</strong>

                            </a>

                            <ul class="dropdown-menu text-blue-dark" aria-labelledby="id_navbar_dropdown">

                                <a href="{% url 'forum_member:profile' request.user.id %}" class="dropdown-item">
                                    Profile
                                </a>

                                <a href="{% url 'account-parameters' %}" class="dropdown-item">
                                    Settings
                                </a>

                                <a href="{% url 'logout' %}?next=/" class="dropdown-item">
                                    Sign out
                                </a>

                            </ul>

                        </li>

                    {% else %}

                        <li class="nav-item">
                            <a href="{% url 'register' %}" class="nav-link">Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link">Sign in</a>
                        </li>
                    {% endif %}

                </ul>

                {% endblock header_collapse %}

            </div>

        </div>

    </nav>

{% endblock header %}

{% block body %}

    <div class="mb-24" id="wrap">
        {{ block.super }}
        <div id="push"></div>
    </div>

    {% include "patterns/organisms/footer/footer.html" %}

    <script src="{% static 'mhoapp/bundle.js' %}"></script>

{% endblock body %}