.htmx-indicator {
    opacity:0;
    transition: opacity 200ms ease-in;
}           

.htmx-request .htmx-indicator{
    opacity:1
}                      

.htmx-request.htmx-indicator {
    opacity:1
}                    

.spinner {
    width: 120px;
    height: 49px;    
    background-size: 40%;
    background-image: url('icons/bars.svg');
}