/* Luxbar navbar overriding styles https://balzss.github.io/luxbar/ */

.luxbar-default {
  box-shadow: none !important;
}

.luxbar-menu-light {
  background-color: #ffffff !important;

  .active {
    background-color: #ffffff !important;
  }

  .luxbar-item {
    display: flex;
    align-items: center;
    box-sizing: initial !important;

    &:hover {
      background-color: #ffffff !important;
      color: #0d476c !important;
    }

    a {
      box-sizing: initial !important;
    }
  }

  .dropdown {
    ul {
      background-color: #ffffff !important;
    }

    &.luxbar-item {
      &:after {
        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1397521/arrowBottom.svg#light');
      }
    }
  }
}