@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Navbar styles https://balzss.github.io/luxbar/ */
@import "luxbar/build/luxbar.css";

/* Slider styles https://github.com/Splidejs/splide */
@import "@splidejs/splide/dist/css/splide.min.css";

/* Input range https://refreshless.com/nouislider/ */
@import "nouislider/distribute/nouislider.css";

/* Navbar overrides https://balzss.github.io/luxbar/ */
@import "./css/navbar.css";

/* Slider overrides https://github.com/Splidejs/splide	*/
@import "./css/splide.css";

/* Input range overrides https://refreshless.com/nouislider/more/ */

@import "./css/input-range.css";

/* General layout */
@import "./css/layout.css";

/* Text styles */
@import "./css/text.css";

/* Blocks styles */
@import "./css/blocks.css";

/* Infinite scroll styles */
@import "./css/htmx.css";

/* Icons and SVG helper styles */
@import "./css/icons.css";

/* Homes search filters menu */
@import "./css/filters-menu.css";

/* Forms inputs */
@import "./css/forms.css";

/* Wufoo form styles */
@import "./css/wufoo.css";

/* Modal https://micromodal.vercel.app/ */
@import "./css/modal.css";

/* Tooltip https://popper.js.org/ */
@import "./css/tooltip.css";

/* Forum overrides django-machina */
@import "./css/forum.css";

html {
	font-size: 16px;

	@screen md {
		font-size: 14px;
	}

	@screen 2xl {
		font-size: 16px;
	}
}

body {
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

.black-overlay {
	&:after {
		content: '\A';
		position: absolute;
		width: 100%; 
		height:100%;
		top:0; 
		left:0;
		background: rgba(9, 41, 60, 0.65); 
		z-index: 40;
	}
}