@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Navbar styles https://balzss.github.io/luxbar/ */
@import "luxbar/build/luxbar.css";

/* Navbar overrides */
@import "./navbar.css";

@import "./htmx.css";

$green: #609c00;

html {
	font-size: 14px;

	@screen 2xl {
		font-size: 16px;
	}
}

body {
	font-family: 'Montserrat', sans-serif;
}

.full-width {
	width: 100vw;
  margin-left: 49.2%;
  transform: translateX(-50%);
}

.underline-spaced {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 0;
		left: 0;
		bottom: -.5rem;
		border-bottom-style: solid;
		border-bottom-width: 2px;
	}
}

.underline-spaced-green:after {
	border-bottom-color: $green;
}

.block-paragraph,
.block-headingH1,
.block-headingH2 {
	@apply mb-mob;

	@screen lg {
		@apply mb-dsk;
	}
}

.icon {
	padding-left: 5.2rem !important;
	background-position: 15%;
	background-repeat: no-repeat;
	background-size: 8%;
}

.icon-green {
	path {
		fill: $green;
	}
}

.icon-magnifying {
	background-image: url('icons/magnifying-glass.svg');
}
