@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Navbar styles https://balzss.github.io/luxbar/ */
@import "luxbar/build/luxbar.css";

/* Navbar overrides */
@import "./navbar.css";

.full-width {
	width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}