{% load svg %}

<div 
    data-pattern="atoms/icon-text"
    class="inline-flex items-center leading-3 overflow-x-hidden {% if big_text %} text-sm xl:text-base {% else %} text-xxxs lg:text-xs {% endif %} {% if font_bold %} font-medium {% endif %} {{ class }}">

    <i class="icon--small2 {% if big_text %} mr-3 {% else %} mr-1 {% endif %} 2xl:mr-2">
    
        {% svg icon %}

    </i> 
    
    {% if quantity %}

    <div class="mr-0.5 2xl:mr-1">

        {{ quantity }} 

    </div>

    {% endif %}
    
    {{ title }}
    
</div>
