{% extends "base_page.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <h2>Main Image:</h2>
    {% image page.main_image fill-320x240 %}

    <section>
        <h2>Elevation Images:</h2>
        {% for item in page.elevation_gallery_images.all %}
            <div style="margin: 10px">
                {% image item.image fill-320x240 %}
                <p>{{ item.caption }}</p>
            </div>
        {% endfor %}
    </section>

    <section>
        <h2>Floorplan Images:</h2>
        {% for item in page.floorplan_gallery_images.all %}
            <div style="margin: 10px">
                {% image item.image fill-320x240 %}
                <p>{{ item.caption }}</p>
            </div>
        {% endfor %}
    </section>

{% endblock %}