{% load svg custom_tags %}

<div 
    data-pattern="organisms/cta/blue-box-horizontal"    
    class="flex pl-5 pr-3 pt-4 pb-6 lg:px-6 xl:px-9 lg:py-8 bg-blue-light4">

    <div class="w-11/12 lg:w-7/12 xl:w-2/3 xl:pr-4">
    
        <h2 class="mb-1 lg:mb-4 text-sm lg:text-1.5xl text-blue-light font-bold">{{ title }}</h2>

        <p class="text-xxs lg:text-base text-gray-90">{{ text }}</p>
        
    </div>

    <div class="flex items-center w-1/12 lg:w-5/12 xl:w-1/3 2xl:pl-4">

        <button 
            class="lg:hidden py-4" 
            data-micromodal-trigger="blue-cta-modal">
        
            {% svg 'right arrow blue2' %}
        
        </button>

        <div class="hidden w-full lg:block">
    
            {% if button_link %}    
                {% include "patterns/atoms/button/button.html" with text=button_text url=button_link.get_url new_window=button_link.new_window color="blue" size="small" inverted=False %}
            {% else %}
                {% include "patterns/atoms/button/button.html" with text=button_text modal_id="blue-cta-modal" color="blue" size="small" inverted=False %}
            {% endif %}

            {% form_modal "blue-cta-modal" form_id form_height %}

        </div>

    </div>

</div>