{% load svg %}

<div class="py-16 md:py-32 full-width text-white text-center bg-blue">

    <div class="mb-10 md:mb-24 container flex justify-center">
        <h2 class="md:w-7/12 xl:w-6/12 2xl:w-5/12 text-lg md:text-3xl font-bold leading-snug">{{ title }}</h2>
    </div>

    <div class="mb-16 md:mb-28 container md:flex">

        {% include "patterns/molecules/text-icons/text-icons.html" with title=column_1_title text=column_1_text icon="Home search icon" %}
        {% include "patterns/molecules/text-icons/text-icons.html" with title=column_2_title text=column_2_text icon="Contractor Icon" %}
        {% include "patterns/molecules/text-icons/text-icons.html" with title=column_3_title text=column_3_text icon="Build Plans Icon" %}
    
    </div>

    <div class="flex justify-center">

        <div class="md:flex justify-evenly md:w-8/12 xl:w-6/12">

            <div class="flex justify-center mb-8 md:mb-0">
                {% include "patterns/atoms/links/blue-link.html" with url=link_1_url text=link_1_text %}
            </div>

            <div class="flex justify-center mb-8 md:mb-0">
                {% include "patterns/atoms/links/blue-link.html" with url=link_2_url text=link_2_text %}
            </div>

        </div>

    </div>

</div>