<ul 
    data-pattern="molecules/buttons-list"
    class="my-6 lg:my-12 md:flex flex-wrap list-none {{ class }}">

    {% for button in buttons %}

    <li class="mb-3 md:mr-12">

        {% if button.icon or button.image %}
    
        {% include "patterns/atoms/button/button-icon.html" with text=button.text url=button.url hx_get=button.hx_get hx_target=button.hx_target icon=button.icon image=button.image image_inverted=button.image_inverted rounded=button.rounded color=button.color size=button.size text_size=button.text_size full_width=button.full_width inverted=button.inverted class=button.class %}

        {% else %}

        {% include "patterns/atoms/button/button.html" with text=button.text url=button.url hx_get=button.hx_get hx_target=button.hx_target rounded=button.rounded color=button.color size=button.size text_size=button.text_size full_width=button.full_width inverted=button.inverted class=button.class %}

        {% endif %}

    </li>

    {% endfor %}

</ul>