<div class="grid md:grid-cols-2 md:grid-rows-2 bg-green-medium rounded-xl">

    {% for card in cards %}
    
        <div class="flex flex-col justify-center px-8 xl:px-12 2xl:px-14 py-12 xl:py-14 2xl:py-16 text-center border-green-light2
            {% if forloop.counter == 1 %} border-b border-r {% endif %}
            {% if forloop.counter == 2 %} border-b {% endif %}
            {% if forloop.counter == 3 %} border-b md:border-b-none border-r {% endif %}">

            <img src="{{ card.icon.url }}" alt="Icon" class="mb-5 h-16 xl:h-20 2xl:h-24">
        
            <div class="text-2xl text-white font-bold">{{ card.text }}</div>
        
        </div>

    {% endfor %}    

</div>