{% extends "patterns/organisms/hero/hero.html" %}

{% load humanize %}

{% block left_content %}

    <h1 class="mb-mob lg:mb-dsk text-5xl font-bold">{{ heading }}</h1>

    <p class="mb-mob lg:mb-dsk w-8/12">{{ introduction }}</p>

    <div class="mb-mob lg:mb-dsk">

        <select name="style" id="style">

            <option>Choose Style</option>

            {% for style in styles %}

            <option value="{{ style.id }}">{{ style.name }}</option>

            {% endfor %}

        </select>

        <select name="price-range" id="price-range">

            <option>Price Range</option>

            {% for price_range in price_ranges %}

            <option value="{{ price_range.id }}">
                {{ price_range.text }}
            </option>

            {% endfor %}

        </select>

    </div>

    <div class="mb-16">
        {% include "patterns/atoms/button/button.html" with url="http://google.com" text=search_button_text %}
    </div>

{% endblock %}

{% block bottom_content %}

    {% include "patterns/molecules/links-bar/links-bar.html" with text=filter_bar_text links=price_ranges %}

{% endblock %}