{% extends "patterns/organisms/hero/hero.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block left_content %}

    {% image image scale-100 as bg_image %}

    <div
        class="absolute lg:-right-24 lg:-top-8 h-5/6 lg:h-full w-full pb-20 bg-right bg-80% lg:bg-contain bg-no-repeat -z-10"
        style="background-image:url({{ bg_image.url }})"></div>

    <h1 class="mb-9 text-4xl md:text-5.5xl text-blue-dark font-bold leading-tight">{{ heading }}</h1>

    <p class="mb-9 w-8/12 text-2xl text-blue-dark font-bold md:font-normal leading-normal">{{ introduction }}</p>

    <form action="{% slugurl 'homes' %}" method="get">

        <div class="flex mb-8 md:w-10/12">

            {% include "patterns/atoms/select/select.html" with id="style" options=styles default_text="Choose Style" size="big" class="border-r-0" %}

            {% include "patterns/atoms/select/select.html" with id="price-range" options=price_ranges default_text="Price Range" size="big" %}

        </div>

        <div class="mb-16 md:w-5/12">
            {% include "patterns/atoms/button/button.html" with id="search-homes" text=search_button_text color="green" size="normal" inverted=False type="submit" %}
        </div>

    </form>

{% endblock %}

{% block bottom_content %}

    {% include "patterns/molecules/links-bar/links-bar.html" with text=filter_bar_text links=price_ranges %}

{% endblock %}